# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.babelrc
.csscomb.json
.editorconfig
.eslintrc
.idea
.jsbeautifyrc
.sass-lint.yml
.vscode
dist
dist/img
gulp
gulpfile.babel.js
node_modules
npm-debug.log
package.json
package-lock.json
Sale Information
src/img
yarn-error.log
