# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.idea
node_modules
npm-debug.log
yarn-error.log
src/img
Sale Information
gulp
.vscode
.babelrc
.editorconfig
.csscomb.json
.eslintrc
.sass-lint.yml
gulpfile.babel.js
package-lock.json
package.json
