.hide-mobile {
  display: none;
}
.text-mobile {
  color: lighten($espresso, 30%);
}
.is-mobile {
  @extend %content;
  color: red;
  position: relative;
}
.is-active {
  background-color: $yellow;
  display: flex;
  left: 0;
  position: absolute;
  top: 25px;
  width: 100%;
  .nav-menu-item {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.nav-menu-icon {
  fill: lighten($espresso, 30%);
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  width: 25px;
}
@include mq(960px) {
  .hide-mobile {
    display: inline-block;
  }
  .text-mobile {
    color: $black;
    display: inline-block;
    font-weight: 400;
    padding: 0;
  }
  .is-mobile,
  .is-active,
  .nav-menu-icon {
    display: none;
  }
}
