// - Define
// | -- Colors
// | -- Font families
// | -- Placeholders


// Colors
$black: #000;
$blooming-dahlia: #ec9787;
$cherry-tomato: #e34132;
$coconut-milk: #f0ede5;
$emperador: #6c4f3d;
$espresso: #5f1b1b;
$harbor-mist: #afb1b4;
$palace-blue: #3267ad;
$sailor-blue: #0e3a53;
$ultra-violet: #5f4b8b;
$warm-sand: #c0ab8c;
$white: #fff;
$yellow: #ff0;
$zest: #e0781a;

// Font families
$lato: 'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$lato: 'Lato', sans-serif;

// Placeholders
%headline {
  font-family: $playfair;
}

%content {
  font-family: $lato;
}


// - Define
// | -- Colors
// | -- Font families



// Colors

$blooming-dahlia: #ec9787;
$cherry-tomato: #e34132;
$coconut-milk: #f0ede5;
$harbor-mist: #afb1b4;
$palace-blue: #3267ad;
$sailor-blue: #2e4a62;
$ultra-violet: #5f4b8b;
$warm-sand: #c0ab8c;
$yellow: #ffc600;

// Font families

$playfair: 'Playfair Display', serif;
$lato: 'Lato', serif;
