// Child to .wrapper
.footer-wrapper {
  align-items: center;
  background-color: $coconut-milk;
  display: flex;
  flex-basis: 5%;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
}
//Child to .footer-wrapper
.footer-contact {
  @extend %content;
  align-items: center;
  color: $black;
  display: flex;
  flex-basis: 50%;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
}
// Child to footer-contact
.footer-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
// Children to footer-container
.footer-contact--location,
.footer-contact--tel,
.footer-contact--hours {
  align-items: center;
  flex-basis: auto;
}
//Child to footer-container
.footer-icons {
  align-items: center;
  display: flex;
  height: 25px;
  padding: 0 1rem;
  transition: fill 250ms ease-in-out;
  width: 25px;
  &:hover {
    fill: $ultra-violet;
  }
}
// Child to footer-wrapper
.footer-social {
  align-items: center;
  display: flex;
  flex-basis: 25%;
  justify-content: space-between;
}
