// Child to .wrapper
.footer-wrapper {
  background-color: $coconut-milk;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  max-width: 1600px;
  width: 100%;
}
//Child to .footer-wrapper
.footer-contact-container {
  @extend %content;
  align-items: center;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 400;
  padding: 0.5rem 0;
  width: 100%;
}
// Child to .footer-contact-container
.footer-contact-icons-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5rem 0;
  text-decoration: none;
  width: 100%;
}
// Children to .footer-contact-icons-container
.footer-contact-icons {
  cursor: pointer;
  display: flex;
  height: 25px;
  max-height: 25px;
  padding: 0.5rem 0;
  width: 100%;
}
// Children to .footer-contact-icons-container
.footer-contact--location,
.footer-contact--tel,
.footer-contact--hours {
  align-items: center;
  color: $black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 2rem;
  text-align: center;
  text-decoration: none;
  width: 100%;
  span {
    line-height: 1.5;
    text-align: center;
    width: 100%;
  }
}
// Child to .footer-wrapper
.footer-social-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
  width: 100%;
}
// Child to footer-social-container
.footer-social-icons-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}
// Child to .footer-social-icons-container
.footer-social-icons {
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  padding: 0 1rem;
  width: 25px;
}
@include mq(800px) {
  .footer-social-container {
    padding: 1rem 10rem;
  }
}
@include mq(1024px) {
  .footer-contact-icons-container,
  .footer-social-container,
  .footer-social-icons-container,
  .footer-contact--location,
  .footer-contact--tel,
  .footer-contact--hours {
    flex-wrap: nowrap;
    text-align: inital;
  }
  .footer-wrapper {
    height: auto;
    justify-content: center;
  }
  .footer-contact-container {
    flex-wrap: wrap;
    font-size: 14px;
    justify-content: center;
    padding: 1rem 0;
    width: 75%;
  }
  .footer-contact-icons-container {
    justify-content: flex-start;
    width: 100%;
  }
  .footer-contact-icons {
    cursor: initial;
    max-width: auto;
    width: auto;
  }
  .footer-contact--location,
  .footer-contact--tel,
  .footer-contact--hours {
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: highlighter;
    animation-timing-function: ease-in-out;
    cursor: pointer;
    transition: color 300ms ease-in-out;
    width: auto;
    span {
      line-height: 1.5;
      text-align: center;
      width: auto;
    }
    &:hover {
      color: lighten($espresso, 20%);
    }
  }
  .footer-social-container {
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    width: 75%;
  }
  .footer-social-icons-container {
    transition: fill 300ms ease-in-out;
    &:hover {
      fill: lighten($espresso, 20%);
    }
  }
  .footer-social-icons {
    padding: 0;
  }
  .footer-order {
    order: -1;
  }
}
@include mq(1280px) {
  .footer-wrapper {
    flex-wrap: nowrap;
    justify-content: space-around;
  }
  .footer-contact-container {
    flex-wrap: nowrap;
    justify-content: space-around;
    padding: 0;
    width: 85%;
  }
  .footer-contact-icons-container {
    justify-content: flex-start;
    width: auto;
  }
  .footer-contact-icons {
    padding: 0 0.5rem;
  }
  .footer-contact--location,
  .footer-contact--tel,
  .footer-contact--hours {
    padding: 0;
  }
  .footer-social-container {
    justify-content: space-around;
    padding: 0;
    width: auto;
  }
  .footer-social-icons {
    padding: 0 1rem;
  }
  .footer-order {
    order: 0;
  }
}
@include mq(1600px) {
  .footer-contact-container {
    justify-content: space-around;
    padding: 0 2rem;
    width: 100%;
  }
}
