// Child to .wrapper
.hero-wrapper {
  display: flex;
  flex-basis: 90%;
  flex-direction: column;
  justify-content: center;
}
// Child to .hero-wrapper
.hero-middle {
  align-items: center;
  background-image: linear-gradient(rgba($black, .75), rgba($ultra-violet, 0.35)), url('../img/hero2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-basis: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 5rem 0;
}
// Child to .hero-middle
.hero-container {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
}
// Child to .container
.hero-headline {
  @extend %headline;
  border-bottom: 1px solid rgba($coconut-milk, 0.25);
  color: $coconut-milk;
  font-size: 50px;
  letter-spacing: 16px;
}
// Child to .container
.hero-btn {
  @extend %content;
  background-color: transparent;
  border: 1px solid $coconut-milk;
  color: $coconut-milk;
  cursor: pointer;
  font-size: 24px;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  transition: background-color 250ms ease-in-out;
  &:hover {
    background-color: rgba($coconut-milk, 0.25);
  }
}
