@include highlighter(left);
// Child to .wrapper
.nav-wrapper {
  background-color: $coconut-milk;
  display: flex;
  flex-basis: auto;
}
// Child to .nav-wrapper
.nav {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  flex-wrap: wrap;
  justify-content: center;

}
// Child to .nav
.nav-logo {
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  img {
    height: 7.5%;
    max-height: 7.5%;
    max-width: 7.5%;
    width: 7.5%;
  }
}
// Child to .nav
.nav-menu {
  display: flex;
  flex-basis: 100%;
  justify-content: space-around;
  list-style: none;
  margin: 0;
}
.nav-menu-item {
  a {
    @extend %content;
    color: $black;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
  }
}
