.wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}
@include mq(960px) {
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
  }
}
